<header>
	<nav>
		<li><a id="start_game">Reaktiopeli</a></li>
		<li><a id="show_results">Tulokset</a></li>
		<li><a href="">Ohjeet</a></li>
	</nav>
</header>
<div id="tulos-container">
   <h3 id="user-info"></h3>
   <p>Tulos: <span id="tulos">0</span></p>
   <p>Kerrat: <span id="tries">3</span></p>
   <p>Nopeus: <span id="time">0 seconds</span></p>
</div>
<div id="messageContainer" class="display-none">
	<p id="usernameValidationError"></p>
</div>